.main {
  margin-left: 3rem;
  @media (max-width: $desktop-breakpoint) {
      margin-left: 1rem;
  }
}

.colour-block {
  width: 6rem;
  height: 3rem;
  @media (max-width: $desktop-second-breakpoint) {
    width: 4rem;
    height: 2rem;
  }
}

.colour-list-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  @media (max-width: $desktop-second-breakpoint) {
    height: 3rem;
  }
}

.heading-list-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}

.column {
  overflow: hidden;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  @media (max-width: $desktop-breakpoint) {
    margin-right: 1rem;
    font-size: 1.3rem;
  }
  @media (max-width: $desktop-second-breakpoint) {
    font-size: 1rem;
  }
}

.first-column {
  width: 6rem;
}

.second-column {
  width: 13rem;
}

.third-column {
  width: 9rem;
}

.fourth-column {
  width: 10rem;
}

.fifth-column {
  width: 11rem;
}